body {
	background-color: #1f1f1f;
	color: #fff;
	font-family: Arial, sans-serif;
}

.container {
	margin: 50px auto;
	max-width: 600px;
	text-align: center;
}

h1 {
	margin-top: 0;
}

input[type="text"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	width: 70%;
}

button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #333;
	color: #fff;
	margin-left: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #333;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

li span {
	text-decoration: none;
	margin-left: 10px;
	flex-grow: 1;
}

li label {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

li.completed span {
	text-decoration: line-through;
}

li.completed input[type="checkbox"] {
	background-color: #ff4b4b;
}

li input[type="checkbox"] {
	appearance: none;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}

li input[type="checkbox"]:checked {
	background-color: #ff7f50;
}

button:hover,
input[type="checkbox"]:hover {
	background-color: #ff7f50;
}

#taskInput:focus,
button:focus {
	outline: none;
	box-shadow: 0 0 5px #ff7f50;
}
